MYSQL_DB_USER=user
MYSQL_DB_PASSWORD=123456
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB_NAME=blog
JWT_SECRET_KEY=development_secret_key_change_me_32_chars
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=1